mat-form-field {
  width: fit-content;
  margin-right: 1rem;
}

mat-card, .latlong {
  margin-bottom: 1rem;
  width: 75%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

button, .saveAtlasButton {
  margin-top: 1rem;
}
