:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

.an_atlas-locationMapImage {
  width: 100%;
}

.an_atlas-locationMapImage img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.font-large {
  font-size: large;
}
/* Structure */
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

/* Below are for animations in hiding etc. */

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  /* display: flex; */
}

/* .example-element-diagram {
  min-width: 100%;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  min-height: 104px;
} */

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

/* .detail-heading {
  width: 150px;
  text-align: right;
  border: 1px solid black;
}

.detail-value {
  margin-left: 10px;
  text-align: left;
  border: 1px solid black;
} */

.table-like {
  display: table;
  width: 50%;
}

.table-like div {
  display: table-row;
}

.table-like div span {
  display: table-cell;
}
.table-like div span {
  font-size: large;
}

/* add borders */
/* .table-like,
.table-like div span {
  border: 1px solid black;
} */

/* bold on 1st row */
.table-like div span:nth-child(odd) {
  text-align: right;
  padding-right: 2em;
}

.heading-1 {
  margin: auto;
  text-align: center;
  font-size: x-large;
  text-decoration: underline black 2px;
  text-decoration-skip-ink: none;
}

.atlas-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
